body {
    background-color: yellow;
}

h2 {
    background-color: yellow;
    color: green;
    font-family: 'Comic Sans MS';
    font-display: block;

}

p {
    border: 20px pink dotted;
    margin: 100px 0px 200px 10px;
}